.logo {
  height: 110px;
  margin-top: -25px;
}

.navbar {
  background-color: #3b1261;
  height: 90px;;
}

.pull-right {
  padding-left: 50px;
}

.question {
  border: 3px solid black;
  margin: 40px;
  padding-bottom: 200px;
  background-color: white;
  box-shadow: 30px 30px 5px #888888;
  border-radius: 2%;
}

:hover.question{
  background-color: #d3d3d3;
}

.text {
  text-align: center;
  font-size: 30px;
  padding-top: 100px;
}

body {
  background-image: url("https://img.clipartfest.com/6bf6b6d2fc0b83c8d99cfa7754aca5c9_-forest-winter-snow-seasons-snow-falling-clipart-background-in-circle_1920-1200.jpeg");
  background-repeat: no-repeat;
}

img {
  height: 400px;
}

.btn {
  background-color: teal;
  color: white;
}

h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 90px;
  color: teal;
}

h2 {
  text-align: center;
}

.detail {
  font-size: 20px;
  margin-bottom: 100px;
}

p {
  font-size: 30px;
}
