<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        {{#link-to 'index'}}<img class="logo" src = "http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/black-white-pearls-icons-sports-hobbies/043074-black-white-pearl-icon-sports-hobbies-people-snowboarder.png" />{{/link-to}}
      </a>
      <h2 class="pull-right">{{#link-to 'contact'}}Contact{{/link-to}}</h2>

      <h2 class="pull-right">{{#link-to 'about'}}About{{/link-to}}</h2>
    </div>
  </div>
</nav>

<div class="container">

  {{outlet}}
</div>
