<h1> Snowboarding Forum </h1>

<h2> Questions: </h2>

<ul>
    {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

<h2> All Answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.response}} - {{answer.author}}</li>
  {{/each}}
</ul>

<hr>
