<h1> Snowboarding Forum </h1>

A place to ask question about snowboarding and get the answers you need!

<ul>
  {{#each model.questions as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

<h2> All Answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.response}} by {{answer.author}}</li>
  {{/each}}
</ul>

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
